PORT=5000
SUPABASE_URL=https://xjjpwmjipoonwbmzniux.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqanB3bWppcG9vbndibXpuaXV4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDEyMDgyOSwiZXhwIjoyMTA1Njk2ODI5fQ.HpYJXTL19yN1SC1prssg7zSkp0Y16VetZ1-o7Vb94pE
SUPABASE_JWT_SECRET=your-jwt-secret
CLIENT_URL=http://localhost:5173
